.Editor-container {
  min-height: calc(100vh - 45px);
  display: flex;
  flex-direction: column;
}
.Editor-title {
  text-align: center;
}

.Editor-header {
  background-color: #1a4672;
  padding: 10px;
  text-align: center;
  color: #1a4672;
}

.Editor-bottom {
  height: 72vh;
}

.Editor-textbox-container {
  height: 86%;
  padding: 12px;
  margin: 20px;
  margin-left: 36px;
  margin-right: 36px;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: space-between;
  align-items: center; */
  border-radius: 10px;
  overflow: hidden;
}

.Editor-textbox {
  width: 96%;
  min-height: 96%;
  box-sizing: border-box;
  border: 5px solid #4f7093;
  border-radius: 10px;
  padding: 10px;
  background-color: #eff6ff;
  overflow: auto;
  resize: none;
}

.Editor-sidebar {
  width: 200px;
  background-color: #f1f1f1;
  overflow: auto;
  padding: 10px;
  display: none;
}

.Editor-button {
  background-color: #1a4672;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
}
