.Editor-container {
  min-height: calc(100vh - 45px);
  display: flex;
  flex-direction: column;
}
.Editor-title {
  text-align: center;
}

.Editor-header {
  background-color: #1a4672;
  padding: 10px;
  text-align: center;
  color: #1a4672;
}

.Editor-bottom {
  height: 64vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 26px 108px;
  padding-bottom: 8px;
  /* justify-content: center; */
}

.Editor-sidebar-container {
  width: 200px;
  height: 100%;
  border: 2px solid #4f7093;
  border-radius: 10px;
  overflow: hidden;
}
.Editor-sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  overflow-y: auto;
  overflow-x: hidden;
}
.Editor-project {
  min-height: 22px;
  padding: 12px 16px;
  border: 0.5px solid #4f7093;
  overflow-x: auto;
}

.Editor-project:hover {
  cursor: pointer;
}

.Editor-textbox-container {
  height: 100%;
  width: 100%;
  /* padding: 12px; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: center; */
  border-radius: 10px;
  overflow: hidden;
}

.Editor-textbox {
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  border: 5px solid #4f7093;
  border-radius: 10px;
  padding: 10px;
  background-color: #eff6ff;
  overflow: auto;
  resize: none;
}
.Editor-suggestions {
  width: 99%;
  height: 20%;
  text-align: center;
  background-color: #eff6ff;
  border: 5px solid #4f7093;
  border-radius: 10px;
  overflow: auto;
}

.Editor-plus {
  position: fixed;
  bottom: 36px;
  right: 36px;
  z-index: 1000;
}

.Editor-logout-button {
  position: fixed;
  top: 30px;
  right: 20px;
  width: 60px;
  height: 50px;
  border-radius: 50%;
  background-color: #1a4672;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.Editor-logout-button:hover {
  background-color: #13314f;
}
